
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    transform: translate(125%, 35%);

    width: 570px;
}

.child {
    width:180px;
    height: 180px;
    margin: 5px;
    background-color: #999;
}

.child2 {
    background-color: orange;
    width: 60px;
    height: 60px;
}