
:root/html {
    font-size: 62.5%;
}

@font-face {
    font-family:'fira sans';
    src: url(FiraSans-ExtraLight.otf);
}

body {
    /*background-image:linear-gradient(to right, rgb(0, 60, 255) 0%,rgba(0, 60, 224) 75%,rgba(0, 60, 255, 0) 100%), url(../../images/flower.png);*/
    margin-top:100px;
    line-height: 140%;
    font-size: 1.288rem;
    padding-right: 100px;
    padding-left: 100px;
    position: absolute;
}

p {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.google, .custom, .typography {
    font-size: 1.875rem;
    text-align: center;
}

.google {
    font-family: 'Roboto', sans-serif;
}

.custom {
    font-family: 'Fira sans';
}

.typography {
    font-size: 2.3rem;
    font-family: 'Ephesis', cursive;
    font-weight: 300;
    text-align: center;
}

.typography p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.288rem;
    font-weight: 300;
}

a:link, a:visited{
    text-decoration: none;
    background-color: green;
    color:white;
    text-align: center;
    padding:10px 14px ;
}

a:hover, a:active {
    background-color: rgb(0, 105, 0);
  }