.Container {
    display:block;
    justify-content: flex-start;
    align-items: center;
}

.parent:nth-of-type(1) {justify-content: flex-start;}
.parent:nth-of-type(2) {justify-content: end;}
.parent:nth-of-type(3) {justify-content: center;}
.parent:nth-of-type(4) {justify-content:space-between;}
.parent:nth-of-type(5) {justify-content:space-around;}
.parent:nth-of-type(6) {height: 100px; align-items: flex-start;}
.parent:nth-of-type(7) {height: 100px; align-items: flex-end;}
.parent:nth-of-type(8) {align-items: center; height: 100px;}
.parent:nth-of-type(9) {flex-wrap: wrap;} .parent:nth-of-type(9) .child {flex-basis: 33.33%;}
.parent:nth-of-type(10) :nth-child(4) {align-self:flex-end;} .parent:nth-of-type(10) :nth-child(1) {align-self:flex-start;} .parent:nth-of-type(10) :nth-child(2) {align-self:flex-start;} .parent:nth-of-type(10) :nth-child(3) {align-self:flex-start;} .parent:nth-of-type(10) {height: 100px;}
.parent:nth-of-type(11) :nth-child(1) {order:4;} .parent:nth-of-type(11) :nth-child(3) {order:3;} .parent:nth-of-type(11) :nth-child(2) {order:2;} .parent:nth-of-type(11) :nth-child(4) {order:1;}
.parent:nth-of-type(12) :nth-child(1) {flex-basis: 33.33%;} .parent:nth-of-type(12) :nth-child(4) {flex-basis: 33.33%;}

h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: left;
    justify-content: center;
    margin-bottom: 15px;

    flex-grow: 1;
    flex-shrink: 1;
    
    transform: translate(-10.0%, 50%);
}

.parent {
    display:flex;
    max-width: 600px;
    margin: 0 auto;
    flex: 1;
    background-color: #ccc;
}

.child {
    width: 100px;
    padding:10px;
    color: #fff;
    box-sizing: border-box;
    font-size: 42px;
}

.parent :nth-child(1) {background-color: red;}
.parent :nth-child(2) {background-color: green;}
.parent :nth-child(3) {background-color: blue;}
.parent :nth-child(4) {background-color: orange;}