
*{
    font-family: 'Roboto', sans-serif;
}

.parent {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
}

.child1 {
    white-space: nowrap;
    order:1;
    font-weight: 700;
    color: white;
}

.child2 {
    order:2;
}

a {
    display: inline-block;
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;
    padding:15px;
    white-space: nowrap;
    color: hsl(196, 56%, 86%);
    text-decoration: underline;
    text-decoration-color: transparent;
    transition:0.5s;
}

a:hover, a:active {
    text-decoration: underline;
    background-color: hsl(188, 100%, 26%);
}


nav {
    display: flex;
    justify-content: center;
    margin-right: -8px;
    margin-left: -8px;
    background-color: hsl(188, 100%, 36%);
}

header {
    margin-top: -8px;
    margin-right: -8px;
    margin-left: -8px;
    background-color: hsl(196, 56%, 16%);
}