
* {
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;

}

header {
    height: 50px;
    background-color: #666;
    flex: 1 1 100%;
}

.content {
    flex: 1 1 auto;
    height: 93.2vh;
    background-color: #ccc;
}