
.parent {
    border: 1px solid black;
    position: relative;

}

.child-one, .child-two, .child-three, .child-four, .child-five {
    position: absolute;
    width: 150px;
}

.child-one {
    top: 0; 
    left:0;
    z-index: 5;
}

.child-two {
    top: 50px; 
    left: 50px;
    z-index: 4;
}

.child-three {
    top: 100px; 
    left: 100px;
 z-index: 3;
}

.child-four {
    top: 150px; 
    left: 150px;
 z-index: 2;
}

.child-five {
    top: 200px; 
    left: 200px;
 z-index: 1;
}

h4 {
    position: relative;
    font-size: 60px;
    margin-top: 150px;
    left: 0%;
    background-color: hsla(39, 100%, 50%, 0.555) ;
    border:20px solid hsla(39, 100%, 50%, 0.027);
    color:purple;
    z-index: 6;
}